body {
    font-family: Arial, sans-serif;
    background-color: #e4e6d5;
    padding: 20rem;
    text-align: center;
  }
  h1 {
    color: #747bff;
  }
  p {
    color: #666;
  }
  a {
    color: #007acc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }