body {
    margin: 0;
    width: 100%;
    display: flex;
    font-family: "aeonik Marker", sans-serif;
    background-color:rgb(215, 237, 204);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100svh;
  
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.hero{
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #323441;
    font-size: 5rem;
}

p {
    color: #666;
    
}
